table, th, td { border: 1px solid black;}

#section1 {visibility: hidden; position: absolute; width: 600px;}
#section2 {visibility: hidden; position: absolute; width: 600px;}
#section3 {visibility: hidden; position: absolute; width: 600px;}
#section4 {visibility: hidden; position: absolute; width: 600px;}
#section5 {visibility: hidden; position: absolute; width: 600px;}

#deleteCatButton {visibility: hidden;}

body {background-color: #d0e4fe;}